<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mechanic Database</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <br class="container">
    <h2 style="text-align: center;">Record List</h2><br></br>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Nomor Telepon</th>
          <th>Plat Nomor</th>
          <th>Diagnosa Kerusakan</th>
          <th>Lama Menginap</th>
          <th>Mechanic In-Charge</th>
          <th>Pembayaran</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ id }}</td>
          <td>{{ nama }}</td>
          <td>{{ notelp }}</td>
          <td>{{ plat }}</td>
          <td>{{ diagnosa }}</td>
          <td>{{ menginap }}</td>
          <td>{{ mecha }}</td>
          <td>{{ pembayaran }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id }}" data-nama="{{ nama }}" data-notelp="{{ notelp }}" data-plat="{{ plat }}" data-diagnosa="{{ diagnosa }}" data-menginap="{{ menginap }}" data-mecha="{{ mecha }}" data-pembayaran="{{ pembayaran }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
 
    <!-- Modal Add Produk-->
      <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Record</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="nama" class="form-control" placeholder="Nama" required>
               </div>
               <div class="form-group">
                   <input type="text" name="notelp" class="form-control" placeholder="Nomor Telepon" required>
               </div>
               <div class="form-group">
                   <input type="text" name="plat" class="form-control" placeholder="Plat Nomor" required>
               </div>
               <div class="form-group">
                   <input type="text" name="diagnosa" class="form-control" placeholder="Diagnosa Kerusakan" required>
               </div>
               <div class="form-group">
                   <input type="text" name="menginap" class="form-control" placeholder="Lama Menginap" required>
               </div>
               <div class="form-group">
                   <input type="text" name="mecha" class="form-control" placeholder="Mechanic In-Charge" required>
               </div>
               <div class="form-group">
                   <input type="text" name="pembayaran" class="form-control" placeholder="Pembayaran" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
 
     <!-- Modal Update Produk-->
   <form action="/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Record</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                   <input type="text" name="nama" class="form-control" placeholder="Nama" required>
               </div>
               <div class="form-group">
                   <input type="text" name="notelp" class="form-control" placeholder="Nomor Telepon" required>
               </div>
               <div class="form-group">
                   <input type="text" name="plat" class="form-control" placeholder="Plat Nomor" required>
               </div>
               <div class="form-group">
                   <input type="text" name="diagnosa" class="form-control" placeholder="Diagnosa Kerusakan" required>
               </div>
               <div class="form-group">
                   <input type="text" name="menginap" class="form-control" placeholder="Lama Menginap" required>
               </div>
               <div class="form-group">
                   <input type="text" name="mecha" class="form-control" placeholder="Mechanic In-Charge" required>
               </div>
               <div class="form-group">
                   <input type="text" name="pembayaran" class="form-control" placeholder="Pembayaran" required>
               </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>
 
     <!-- Modal Delete Produk-->
      <form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Record</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Anda yakin mau menghapus data ini?</strong>
                   </div>
                   <div class="modal-footer">
                                            <input type="hidden" name="id" class="form-control id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
 
<script src="/assets/js/jquery-3.5.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
            //tampilkan data ke modal untuk edit
      $('#mytable').on('click','.edit',function(){
        var id = $(this).data('id');
        var nama = $(this).data('nama');
        var notelp = $(this).data('notelp');
        var plat = $(this).data('plat');
        var diagnosa = $(this).data('diagnosa');
        var menginap = $(this).data('menginap');
        var mecha = $(this).data('mecha');
        var pembayaran = $(this).data('pembayaran');
        $('#EditModal').modal('show');
        $('.id').val(id);
        $('.nama').val(nama);
        $('.notelp').val(notelp);
        $('.plat').val(plat);
        $('.diagnosa').val(diagnosa);
        $('.menginap').val(menginap);
        $('.mecha').val(mecha);
        $('.pembayaran').val(pembayaran);
      });
            //tampilkan modal hapus record
            $('#mytable').on('click','.delete',function(){
        var id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.id2').val(id);
      });
 
    });
</script>
</body>
</html>